body{
    background-image: url(fondo.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    padding-left: 70px;
    margin-right: 70px;
    
}
header{
    border: solid 3px black;
    
}
.caja1{
    border: solid 3px;
    
}
.caja2{
    border: solid 3px black;
    
}