body{
    background-color: aquamarine;
}
div {
    width: 400px;
    height: 150px;
    background-color: blueviolet;
    border: 4px dotted;
    padding: 40px;
    margin: 50px;
    display: inline-table;
    text-align: center;
}
div p{
    display: table-cell;
    vertical-align: middle;
    font-family: Impact;
    font-size: 32px;
    text-transform: uppercase;
    color: brown;
}